.GitRepo {
    text-align: left;

    margin-top: 20px;
    margin-bottom: 20px;

    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    border-color: lightgray;

    box-shadow: -1px 10px 19px -10px rgba(0,0,0,0.67);
}

.GitRepo h3 {
    margin-top: 5%;
    margin-left: 5%;
}

.GitRepo p {
    margin-top: 5%;
    margin-left: 5%;
}