.App {
  text-align: center;
  font-family: "Open Sans" sans-serif;

  width: 100%;
  height: 100%;

  background-color: #61dafb;
}

@media screen and (max-width: 699px) {

  .pageSpacer {
    display: block;

    width: 96%;
    height: 1000px;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    margin-top: 10vh;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    border-width: 8px;
    border-color: black;
    border-radius: 16px;

    align-content: center;
    text-align: center;

    color: black;
    background-color: white;
  }
}

@media screen and (min-width: 700px) {
  .pageSpacer {
    display: block;

    width: 72vw;
    height: 1000px;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    margin-top: 18vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    border-width: 8px;
    border-color: black;
    border-radius: 16px;

    align-content: center;
    text-align: center;

    color: black;
    background-color: white;
  }
}