.Gallery {
    display: grid;

    grid-template-columns: 10vw;

    gap: 20px;

    margin: auto;

    justify-items: center;
}

.Gallery img {
    width: 100%;
    height: auto;

    border-radius: 16px;

    object-fit: cover;

    box-shadow: -1px 10px 19px -10px rgba(0,0,0,0.67);

    transition: ease-in-out;
    transition-duration: 300ms;
}

.Gallery img:hover {
    width: 200px;
    height: 150px;

    transform: scale(1.20);

    border-radius: 16px;

    object-fit: cover;

    box-shadow: -1px 10px 19px -10px rgba(0,0,0,0.67);
    transition: ease-in-out;
    transition-duration: 300ms;
}